.left-menu
{
	height: 60%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 7.5%;
    left: 5%;
    background-color: #fff;
    overflow-x: hidden;
    padding-top: 20px;
}

.right-menu
{
	height: 60%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 7.5%;
    right: 5%;
    background-color: #fff;
    overflow-x: hidden;
    padding-top: 20px;
}

@media only screen and (max-width: 600px)
{	/* main: 70% */
	.left-menu
	{
		width: 20%;
	}

	.right-menu
	{
	   
	}
}

.logo
{
	margin-top: 5%;
}